		img{
		 max-width: 100%; 
			max-height: 100%;
			border-radius: 5px; 
			position: relative;
			margin-bottom: 20px;
			} 
			h1{font-size:50px;
				margin-top: 30px;
				margin-bottom: 20px;
			}
				 p {font-size: 18px;
				 }
				 h2,h3 {
				 	margin-top: 40px;
				 	margin-bottom: 20px;
				 }

				 .container{
				 	margin-bottom: 200px
				 }
/*Я ТУТ */
/*VOVA LUCKY */
				 .footer{
                   
                  position: absolute;
                  bottom: 200%;
                  color: white;
                  background-color: #f9f9f9;
                  background-width: 200px;
                  background-height: 200px;			 	
				 }

				 .text{
                    position: relative;
                    margin-bottom: 20px;
				 }

				.radiuss{
border-radius: 50%;
size: 10px;
  position:fixed;
  z-index: 101;
  right:20px;

}

.Kryto{
  z-index: 102;
  position: relative;

}
.card{
	position: relative;
	top: 200px
}

.hh2{
position: relative;
text-align: center;
background: #BCEBDD;
border-radius: 10px;
color: white;
text-shadow: 0 1px 1px #2D2020;
padding: 10px 20px;
border-right: none;
}
				
/*TABLE*/

table {
position: relative;
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-radius: 10px;
border-spacing: 0;
text-align: center;
left: 700px;
margin-top: 20px;

}
th {
background: #BCEBDD;
color: white;
text-shadow: 0 1px 1px #2D2020;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
th:first-child, td:first-child {
text-align: left;
}
th:first-child {
border-top-left-radius: 10px;
}
th:last-child {
border-top-right-radius: 10px;
border-right: none;
}
td {
padding: 10px 20px;
background: #F8E391;
}
tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
tr td:last-child {
border-right: none;
}

/*END TABLE*/



				 

				 /*Footer */
footer .main-footer{ padding: 20px 0; background: #252525; z-index: 101;}
footer ul{ padding-left: 0; list-style: none;}




.footer-top{ background: #252525; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 3px solid #222;}


footer.transparent .footer-top, footer.transparent .main-footer{ background: transparent; z-index: 101}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}


footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{ background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

.footer- .logo { display: inline-block;}

.widget{ padding: 20px; margin-bottom: 40px;}
.widget.widget-last{ margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent; margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{ margin-bottom: 18px;}
.widget li a{ color: #ff8d1e;}
.widget li a:hover{ color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit; position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}

.typo-light h1,  
.typo-light h2,  
.typo-light h3,  
.typo-light h4,  
.typo-light h5,  
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{ color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}

/* CAROUSEL*/
