@import url(//fonts.googleapis.com/css?family=Lato:300:400);
body {
    margin: 0;
}
.FormBTN{
      background: #57b846;
color: white;
border-radius: 25px;
  left: auto;
  right: auto;
}

._Forms_generate{
    position: relative;
  width: 50%;
  z-index: 1;
  margin-bottom: 10px;
  background-color: white;
border-radius: 20px;
}

.FormName{
    font-family: Roboto;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

.FormPhone{
    font-family: Roboto;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

.containerOthertext{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0;
    padding: 0;
    left: 0;
    top: 11%;
    z-index: 100;
}

.Othertext{
margin: 0 40px 0;
display: flex;
font-size: 28px;
white-space: nowrap;
cursor: pointer;
transition: .2s;
z-index: 10;
font-family: Roboto;
    font-style: normal;
    line-height: 51px;
    
}

.Othertext:hover{
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}
.textCoid {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    font-size: 48px;
    right: 30%;
    bottom: 30%;
    z-index: 10;
}

.Practicum{
    font-weight: lighter;
}
.container-future{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    top: 5em;
    font-size: 40px;
}
.future{
    display: flex;
    width: 500px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    font-size: 58px;
}

.heightWaves{
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
}



.wavesContent{
    position: absolute;
    display: flex;
    padding: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    z-index: -5;
    
}

.WavesContainer {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, #fd53efef 0%, #3f2aff 100%);
    color: white;
    width: 150%;
    z-index: -50;
    height: 800px;
}
.logo {
    position: relative;
    width: 94px;
    height: 84px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
    right: 30%;
    bottom: 30%;
}
.inner-header {
    height: 65vh;
    margin: 0;
    padding: 0;
}
.flex-waves {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.waves {
    position: relative;
    margin-bottom: -7px;
    /*Fix for safari gap*/
   
   
}
.content {
    position: relative;

    text-align: center;
    background-color: white;
}
/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

.ImgUniversity{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    left: 0;
    top: 100%;
    z-index: -1;
}
.img-un{
    width: 300px;
    height: 400px;
}

.txtUniversity{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left:  60%;
    top: 120%;
    width: 500px;
}

.txt-un{
    width: 500px;
    letter-spacing: 2px;
    font-size: 28px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 51px;
}



.AboutCoursers{
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    left: 0;
    right: 0;
    top: 200%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}


.Container-CoursersIMG{    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    right: 1%;
    top: 230%;
}

.CoursersIMG{
    width: 125px;
height: 122px;
    display: flex;
    flex-direction: column;
    margin: 0 170px 0;
}


.txtContainer-About{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;
    top: 245%
}
.txt-about{
    width: 234px;
height: 122px;
    display: flex;
    flex-direction: column;
    margin: 0 170px 0;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
}

.Container-coursBTN{
position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    top: 250%;
    width: 100%;
    height: 100%;
}
.Coursers-btn{
    margin: 20px;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    white-space: nowrap;
    color: #121212;

    border: 1px solid #000000;
box-sizing: border-box;
border-radius: 4px;
background-color: white;
padding: 12px 30px;
cursor: pointer;
outline: none;
transition: 0.5s;
}

.Coursers-btn:hover{
    color: white;
    background-color: #3f2aff ;
    border: 1px solid #3f2aff;
}




.txtPortfolio{
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    left: 0;
    right: 0;
    top: 345%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
}


.PortfolioImages:nth-child(1){
    position: absolute;
width: 407px;
height: 313px;
top: 370%;
}
.PortfolioImages:nth-child(2){
    position: absolute;
    left: 50%;
    width: 622px;
height: 527px;
top: 420%;
}
.PortfolioImages:nth-child(3){
    position: absolute;
width: 322px;
height: 322px;
top: 490%;
}

.txt-portfolio:nth-child(1){
position: absolute;
top: 378%;
left: 50%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
border-bottom: 1px solid #121212;

padding-bottom: 4px;
}

.txt-portfolio:nth-child(2){
    position: absolute;
    top: 440%;
    left: 30%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    border-bottom: 1px solid #121212;
    
    padding-bottom: 4px;
    }


    .txt-portfolio:nth-child(3){
        position: absolute;
        top: 498%;
        left: 50%;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        border-bottom: 1px solid #121212;
        
        padding-bottom: 4px;
        }

.teamtxt{
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: flex-end;
        left: 0;
        right: 0;
        top: 545%;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
}
/* Повтор */
.owl-item img { opacity: 0.5; transition: 0.3s; } /* Применимо ко всем элементам в слайдере */
.owl-carousel-2 .owl-center img { opacity: 1.0; } /* Применимо к центральному элементу */
.owl-carousel{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: -5;
    height: 450px;
    border-radius: 40px;
}
.owl-stage-outer{
    width: 600px;
    z-index: -1;
    height: 450px;
}

.owl-item{
    width: 450px;
    height: 450px;
    
}

.carousel-img{
    border-radius: 40px;
}

span:nth-child(1){
    font-weight: bold;
    white-space: nowrap;
}

.fullcarousel {
    z-index: -10;
    position: absolute;
    top: 337em;
    left: 42em;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.background-from-carousel{
    background-color: #3f2aff;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}



.item {
    width: 185px;
}
.owl-carousel .item {
    height: 10rem;
    
    padding: 1rem;
    opacity:0.3;
}
.owl-carousel .activ {
   opacity:0.5;
}
  .owl-carousel .item:hover {
      opacity:1;
  }
	.owl-item > div img {
  margin: 0;
  height:100px;
  background: #cccc66;
}
.owl-item.center > div {
  margin: 0;
  height:100px;

	opacity:1;
}
.owl-item:not(.center) > div {
  margin: 0;
  height:100px;
  
}
/* MEDIA & KEYFRAMES */


@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
        width: 100%;
    }
    .content {
        height: 30vh;
    }
    .textCoid {
        font-size: 24px;
    }
}
